body{
    background-image: url("bg2.jpg");
}
.form{
    width: 400px;
    border-style: groove;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.5);
}
h1{
    text-align: center;
    color: yellow;
    font-family: fantasy;
    letter-spacing: 0.1cm;
    word-spacing: 0.2cm;
}
.input label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    color: aliceblue;
    margin-left: 50px;
}
#username,#password,#phone,#email,#dob{
    margin-left: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.radios{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    margin-left: 50px;
    accent-color: gold;
    font-size: 20px;
    margin-bottom:30px;
}
.button{
    margin-bottom: 20px; 
    padding-left: 100px;
}
#cancel{
    border-radius: 9px;
    margin: 10px 10px 10px 10px;
    padding: 6px 10px 6px 10px;
    font-size: 15px;
    border-color: yellow;
    background-color: black;
    color: white;
}
#login{
    border-radius: 9px;
    margin: 10px 10px 10px 10px;
    padding: 6px 10px 6px 10px;
    font-size: 15px;
    border-color: yellow;
    background-color: black;
    color: white;
}