body{
    background-image: url("bg4.jpg");
}
h3{
    font-family:cursive;
    text-align: center;
    color: rgb(251, 255, 0);
    text-shadow: goldenrod;
}
.heading{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(11, 250, 230);
    font-size: 30px;

}
.picture{
    text-align: center;
}
.bio{
    text-align: center;
}
.skills{
    
    margin-left: 25%;
    margin-right: 10%;
    margin-bottom: 50px;
}
#learnp{
    line-height: 0.6cm;
}
#skilli{
    float: left;
}
h2{
    color: rgb(11, 250, 230);
    text-shadow: yellow;
    font-family: cursive;
    font-size: 35px;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: silver;
}
.learnt{
    margin-left: 25%;
    margin-right: 20%;
    min-width: 20%;
    margin-bottom: 10%;
}
#learnpic{
    width: 100px;
    float: right;
    padding-right: 130px;
}
#cloud{
    width: 50%;
    margin-top: 10%;
    margin-left: 30%;
    height: 50%;
}
h4{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    color:rgb(149, 223, 88)
}
.head{
    color: rgb(11, 250, 230);
}
.button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-family: cursive;
    font-size: 15px;
    margin-left: 45%;
    border-color: rgb(0, 255, 221);
    border-width: 4px;
}
.button:hover{
    background-color: rgb(119, 255, 119);
}
.program{
    color: rgb(11, 250, 230);
    text-shadow: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.low{
    margin-top: 20px;
}
.low::first-letter{
    font-size: 30px;
    font-weight: normal;
    color: yellow;
    font-style: italic;
    font-family: cursive;
}
.insta{
    color: silver;
    text-decoration: none;    
}
.under{
    text-decoration: none;
    text-align: center;
    margin-top: 100px;
}
.links{
    display: inline;
    border-right-style: groove;
    text-align: center;
}
#insta{
    padding-left: 2%;
    padding-right: 1%;
}
#linked{
    margin-right: 5%;
    padding-right: 2%;
    padding-left: 1%;
    border-right-style: none;
}
.insta:visited{
    color: rgb(65, 180, 247);
}
.insta:hover{
    color: yellow;
}

